<p>Thanks for your money!</p>

<button class="btn btn-primary" onclick="window.location.href = '/';">View the store</button>
<button class="btn btn-primary" onclick="window.location.href = '/orders';">View your orders</button>