<div class="row">
  <div class="col-md-12 d-flex justify-content-between align-items-center">
    <h2 class="mt-5"><%= @results.count %> Result(s)</h2>
    <%= paginate @results %>
  </div>
  <% @results.each do |creature| %>
    <%= render partial: 'creatures/creature', object: creature %>
  <% end %>
</div>