<div class="h-100 p-5 bg-light border rounded-3 mt-2">
  <h2>Professor Who?</h2>
  <p>Silph Co.'s brand new PokeMart is now available in Canada! Professor Oak turned you away? Feeling limited by just 3 starter Pokemon to choose from? Our handcrafted team of elite Pokemon catchers has searched far and wide to bring you the largest selection of click and buy Pokemon right at your fingertips. Gotta buy em all!</p>
  <button class="btn btn-outline-secondary" type="button">Find a partner</button>
</div>

<div class="row justify-content-between align-items-center">
  <div class="col-md-auto mt-5">
    <h2 class="m-0"><%= link_to "Creatures", creatures_path, class: "text-dark text-decoration-none" %></h2>
  </div>
  <div class="col-md-auto align-items-center mt-5">
    <% Type.all.each do |type| %>
      <%= link_to image_tag(type.badge(type.name)), creatures_path(type_id: type.id), class: "p-2" %>
    <% end %>
  </div>
  <div class="col-md-auto mt-5">
    <%= paginate @creatures %>
  </div>
</div>
<div class="row">
  <%= render @creatures %>
</div>